@font-face {
    font-family: 'Shelley Script LT Std';
    src: url('../../public/assets/fonts/ShelleyScriptLTStd-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }